.bgimage {
  background-image: url('../images/manatee.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.welcome h1, h2 {
	color: #F0FFFF;
}

@media (max-width: 767px) {
	.img-responsive {
		max-width: 50%;
		min-width: 300px;
	}
}