.bgimage {
  background-image: url('../images/harvard.jpg');
  background-position: center center;
  background-size: cover;
  height: 250px;
}

h1.welcome, .welcome:h2 {
	color: yellow;
}

@media (max-width: 767px) {
	.img-responsive {
		max-width: 50%;
		min-width: 300px;
	}
}